.card{
    display: inline-block;
    margin: 3%;
    padding: 15px;
    box-shadow: 2px 2px 3px grey;
    border-radius: 10px;
    width: 200px;
    transition: all 200ms linear;

}

.card:hover {
    width: 250px;
    box-shadow: 2px 2px 3px black;
    background: lightgrey;
    cursor: pointer;
    transition: all 200ms linear;

}

.description::first-letter { font-weight: bold; color: red; }


@media only screen and (max-width: 600px) {
    .card {
        display: block;
    }
}


@media print {
    img{ width: 200px; height: 300px}
    .card {
        box-shadow: none;
        margin: 0;
    }
}
